.nav a {
  color: #659D32;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;

  
}


.footer {
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  text-align: left;
  vertical-align: text-bottom;
  
}
.footer li {

  display: inline;
}
.footer img{

  padding-bottom: 0cm;
}
.nav a:hover:after {
    content: "";
    border-bottom: 2px solid #ec6713;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
}
.nav{
  line-height: 50px;
}
.nav li {

  display: inline;
}
.leftHalf {
   width: 49.8%;
   position: static;
   background-size: cover;
   left: 5px;
   height: 484px;
   background-repeat: no-repeat;
   float:left;
   overflow: hidden;

}

img {

  padding-bottom: 0.5cm;

}
.leftHalf img:hover { 
    -moz-transform:translate(0,-1em);
    -o-transform:translate(0,-1em);
    -webkit-transform:translate(0,-1em);
    opacity:0.7;
}

.leftHalf img:active {
    -moz-transform:translate(0,-1em) rotate(10deg);
    -o-transform:translate(0,-1em) rotate(10deg);
    -webkit-transform:translate(0,-1em) rotate(10deg);
}

.rightHalf img:hover { 
    -moz-transform:translate(0,-1em);
    -o-transform:translate(0,-1em);
    -webkit-transform:translate(0,-1em);
    opacity:0.7;
}

.rightHalf img:active {
    -moz-transform:translate(0,-1em) rotate(10deg);
    -o-transform:translate(0,-1em) rotate(10deg);
    -webkit-transform:translate(0,-1em) rotate(10deg);
}
.animate {
    -moz-transition:all .5s ease-in-out 0s;
    -o-transition:all .5s ease-in-out 0s;
    -webkit-transition:all .5s ease-in-out 0s;
}
.rightHalf {
   width: 49.8%;
   position: static;
   background-size: cover;
   right:5px;
   height: 501px;
   background-repeat: no-repeat;
   float:right;
   overflow: hidden;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.container main {
  background-color: #f7f7f7;
}


